.body{
    margin: 0;
    padding: 0;

}.chessboard{
    margin:10px;
    width: 400px;
    height:400px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;

}

.white{
    width: 80px;
    height: 80px;
    background-color: #fff;
    overflow: hidden;
}

.black{
    width: 80px;
    height: 80px;
    background-color: rgb(44, 44, 44);
    overflow: hidden;

}